* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.color {
  display: inline-block;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 5px 10px;
}

.selected {
  outline: 4px dashed red;
}

#buttons {
  padding: 10px;
}

#clear-board , #button-random-color {
  height: 2em;
  padding: 0 1em;
}

#pixel-board {
  --size: 5;
  display: grid;
  grid-template-columns: repeat(var(--size), 1fr);
  grid-template-rows: repeat(var(--size), 1fr);
}

.pixel {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: white;
}
