* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.color {
  display: inline-block;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

#black {
  background-color: black;
}

#pixel-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.pixel {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}